:root {
  --previewWidth: 300px;
}

@media (min-width: 1280px) {
  :root {
    --previewWidth: 360px;
  }
}
.ezcontent-preview--wrapper {
  background: #fff;
  transform: translate(100%, 0);
  transition: all 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}
.ezcontent-preview--open {
  transform: translate(0, 0);
}
.ezcontent-preview__actions {
  padding: 2px 0;
  background: rgba(245,247,251,0.98);
  text-align: right;
  transition: all 0.5s;
  padding: 10px;
  border-bottom: 2px #c6c4c4 solid;
  z-index: 9;
  position: relative;
}
.ezcontent-preview--btn{
  margin: 0 5px;
  padding: 2px 10px;
  background: #000;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 10px;
}
.ezcontent-preview__actions__btn-fullscreen{
  display: none;
}
.ezcontent-preview--options {
  margin-bottom: 8px;
}
.ezcontent-preview-active {
  position: fixed;
  overflow: hidden;
}
.ezcontent-preview--loading {
  padding: 25px 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.ezcontent-preview--loading__loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.form-select--preview-options {
  padding: 5px;
  border: #777 solid 1px;
  border-radius: 5px;
}
.preview--btn {
  padding: 10px 20px;
  border: #777 solid 1px;
  border-radius: 5px;
  display: inline-block;
  margin: 8px 0;
}

@keyframes spin {
  to {
    border-top-color: #42a5f5;
    transform: rotate(360deg);
  }
}

@media (min-width: 976px) {
  .ezcontent-preview--wrapper {	
    top: 0;	
    height: calc(100%);	
  }

  .ezcontent-preview-active {
    position: inherit;
    overflow: inherit;
  }
}

@media (min-width: 1024px) {
  .ezcontent-preview--wrapper {
    width: calc(var(--previewWidth) + min(4vw, 60px));
    border-left: solid 1px #d4d4d8;
  }
  .ezcontent-preview__actions__btn-fullscreen {
    display: inline-block;
  }
}

.ezcontent-preview--fullscreen {
  width: 100%;
  border-left: 0;
}